/* set css on main elements */
h1 {
    color: rgb(9, 67, 124);
    font-style: italic;
}

a {
    text-decoration: none;
    color: blue;
}

/* set css on personal elements */
.contacttxt {
    font-family: Verdana;
    font-size: 4;
}

.row {
    display:flex;
    align-items: center;
    max-width: 75%;
}

.div-image {
    flex: 1;
    height: auto;
    display: block;
}

.div-txt {
    flex: 1;
    align-items: center;
    text-align: right;
    font-family: verdana;
    font-size: 4;
}